<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About us</title>
    <link rel="stylesheet" href="/static/about_us.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="/static/menu.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">


</head>
<body>
<!-- Menu -->
<div class="primary-nav">

	<button href="#" class="hamburger open-panel nav-toggle">
<span class="screen-reader-text">Menu</span>
</button>

	<nav role="navigation" class="menu">

		<a href="/" class="logotype">LÉ<span>PAK</span></a>

		<div class="overflow-container">

			<ul class="menu-dropdown">

				<li><a href="/">Map</a><span class="icon"><i class="fas fa-map-marked-alt"></i></span></li>

				<li class="menu-hasdropdown">
					<a href="/dashboard">Profile</a>
					<span class="icon">
						{% if current_user.is_authenticated %}
							<img src="{{ current_user.image_file }}" style="height: 100%; border-radius: 100%;"/>
						{% else %}
						    <i class="fas fa-user"></i>
						{% endif %}
					</span>

					<label title="toggle menu" for="settings">
        <span class="downarrow"><i class="fa fa-caret-down"></i></span>
      </label>
					<input type="checkbox" class="sub-menu-checkbox" id="settings" />

					<ul class="sub-menu-dropdown">
						{% if current_user.is_authenticated %}
							<li><a href="/dashboard">Dashboard</a><span class="icon"><i class="fas fa-tachometer-alt"></i></span></li>
							<li><a href="">Friends</a><span class="icon"><i class="fas fa-user-friends"></i></span></li>
							<li><a href="/createEvents">Make Your Event</a><span class="icon"><i class="fas fa-calendar-alt"></i></span></li>
                            <li><a href="/forms">Create Listings</a><span class="icon"><i class="fas fa-clipboard-list"></i></span></li>

						{% else %}
							<li><a href="/login">Login</a><span class="icon"><i class="fas fa-sign-in-alt"></i></span></li>
						{% endif %}
						{% if current_user.is_authenticated %}
                            <li><a href="{{ url_for('logout') }}">Logout</a><span class="icon"><i class="fas fa-sign-out-alt"></i></span></li>
                        {% endif %}
					</ul>
				</li>

				<li><a href="/joinEvents">Join Events</a><span class="icon"><i class="fas fa-calendar-alt"></i></span></li>

                {% if current_user.is_authenticated %}
						<li><a href="/theBusiness">Business</a><span class="icon"><i class="fas fa-map-marked-alt"></i></span></li>
				{% endif %}

				<li><a href="/about_us">About Us</a><span class="icon"><i class="fas fa-info-circle"></i></span></li>

                <li><a href="/listings">Listings</a><span class="icon"><i class="fas fa-list-ul"></i></span></li>


			</ul>

		</div>

	</nav>

</div>
<!-- /Menu -->
<header>
  <div class='slider-navigation'>
    <div class='nav-pointer draggable'>
      0/0
    </div>
  </div>
</header>
<div class='site-container'>
  <section class='intro'>
    <div class='wrap'>
      <div class='content' style="position: static;">
        <p id="the_head">
          <span id="the_headspan">
              {% if current_user.is_authenticated %}
                Welcome <br> {{ current_user.username }}
              {% else %}
                About us.
              {% endif %}
          </span>
        </p>
      </div>
    </div>
  </section>
  <section>
    <div class='wrap'>
      <div class='content'>
        <h1>Week 4</h1>
        <p>During weeks 1-4 the group struggled to come up with a good topic to for the project. It was after several revisions
        that we somehow ended up with the idea of a map based web application to find bars around Singapore. Our project
        was based on the recent uprising of map based applications with reference to Pokemon Go or Uber and such. This
        was the beginning of the climb and of our grind.</p>
      </div>
    </div>
  </section>
  <section>
    <div class='wrap'>
      <div class='content'>
        <h1>Week 8</h1>
        <p>Weeks 5-8 was a painful stretch for our group it was during this time when we have finally finished the
        foundations of what you would see today as our final product. During this period of time, we have had to tackle
        the mid terms examinations. Having to juggle between studying for the examinations and doing the project was
        proven to be extremely tiring for our group members. Every week we had either projects, assignments or tests to
        worry about. Progress was still made however, this was when each of our project members had about 2-3 pages for
        show. But some of what we had for show though, was still hard coded.</p>
      </div>
    </div>
  </section>
  <section>
    <div class='wrap'>
      <div class='content'>
        <h1>Week 12</h1>
        <p>During weeks 9-12, our group made strides to make sure that we have at least a bare bones skeleton of the idea
        that we are planning on portraying. These few weeks had a short period of breaks in between. During these times
        our group did our best by adding a few things here and there. It was tiring as it was about after this period where
        we had another marathon worth of exams to focus on. Our group members persistently met up and discussed among
        ourselves about how we will work towards the future.</p>
      </div>
    </div>
  </section>
  <section>
    <div class='wrap'>
      <div class='content'>
        <h1>Week 16</h1>
        <p>Weeks 13-16. This is the final stretch. We had one last review right before our final presentation. It was
        this point when we all found out the parts of our website that needed a few final touches before we could
        do our final presentation. It is at this point where what you see is what you get. RIP</p>
      </div>
    </div>
  </section>
</div>


</body>
<script>
$(document).ready(function() {
  $("section").each(function() {
    $(".slider-navigation").prepend('<div class="tick"></div>');
  });

  $(".tick").on("click", function() {
    var tickIndex = $(this).index();
    $("body").scrollTop($(window).height() * tickIndex);
  });

  updatePos();
}); // end document ready

var isDragging = false;
var sliderTop, pointerPos, currentSection;

var bodyHeight = $("body").height();
var sliderHeight = $(".slider-navigation").height();
var elementHeight = $("section").height();
var sectionAmount = $("section").length;
var scale =
  (bodyHeight - elementHeight) /
  (sliderHeight - $(".nav-pointer").outerHeight());

var waitForFinalEvent = (function() {
  var timers = {};
  return function(callback, ms, uniqueId) {
    if (!uniqueId) {
      uniqueId = "resize";
    }
    if (timers[uniqueId]) {
      clearTimeout(timers[uniqueId]);
    }
    timers[uniqueId] = setTimeout(callback, ms);
  };
})();

function updatePos() {
  currentSection = $(window).scrollTop() / elementHeight;
  currentSectionNum = Math.ceil(currentSection + 0.01);
  sliderTop = $(window).scrollTop() / scale;
  $(".nav-pointer")
    .css("top", sliderTop)
    .text(currentSectionNum + "/" + sectionAmount);
}

function sliderMove(e) {
  $("body").scrollTop(parseInt(e) * scale);
}

$(window).scroll(function() {
  if (!isDragging) {
    updatePos();
  }
});

$(window).resize(function() {
  waitForFinalEvent(
    function() {
      bodyHeight = $("body").height();
      sliderHeight = $(".slider-navigation").height();
      elementHeight = $("section").height();
      sectionAmount = $("section").length;
      scale =
        (bodyHeight - elementHeight) /
        (sliderHeight - $(".nav-pointer").outerHeight());

      updatePos();
    },
    500,
    "resizing"
  );
});

$(window).resize(function() {});

$(".draggable").draggable({
  axis: "y",
  containment: "parent",
  start: function() {
    isDragging = true;
    $("body").addClass("dragging");
  },
  drag: function() {
    pointerPos = $(this).css("top");
    sliderMove(pointerPos);
    updatePos();
  },
  stop: function() {
    isDragging = false;
    $("body").removeClass("dragging");
  }
});

</script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
</html>