<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Business Profile</title>
    <link rel="stylesheet" type="text/css" href="../static/businessProf.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/menu.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>

</head>
<body>
<!-- Menu -->
<div class="primary-nav">

	<button href="#" class="hamburger open-panel nav-toggle">
<span class="screen-reader-text">Menu</span>
</button>

	<nav role="navigation" class="menu">

		<a href="/" class="logotype">LÉ<span>PAK</span></a>

		<div class="overflow-container" style="overflow: auto !important;">

			<ul class="menu-dropdown">

				<li><a href="/">Map</a><span class="icon"><i class="fas fa-map-marked-alt"></i></span></li>

				<li class="menu-hasdropdown">
					<a href="#">Profile</a><span class="icon"><i class="fas fa-user"></i></span>

					<label title="toggle menu" for="settings">
        <span class="downarrow"><i class="fa fa-caret-down"></i></span>
      </label>
					<input type="checkbox" class="sub-menu-checkbox" id="settings" />

					<ul class="sub-menu-dropdown">
						{% if current_user.is_authenticated %}
							<li><a href="/index">Dashboard</a><span class="icon"><i class="fas fa-tachometer-alt"></i></span></li>
							<li><a href="">Friends</a><span class="icon"><i class="fas fa-user-friends"></i></span></li>
							<li><a href="/createEvents">Make Your Event</a><span class="icon"><i class="fas fa-calendar-alt"></i></span></li>
							<li><a href="/forms">Create Listings</a><span class="icon"><i class="fas fa-clipboard-list"></i></span></li>
						{% else %}
							<li><a href="/login">Login</a><span class="icon"><i class="fas fa-sign-in-alt"></i></span></li>
						{% endif %}
						<li><a href="/event">Events</a><span class="icon"><i class="fas fa-calendar-alt"></i></span></li>
						{% if current_user.is_authenticated %}
                            <li><a href="{{ url_for('logout') }}">Logout</a><span class="icon"><i class="fas fa-sign-out-alt"></i></span></li>
                        {% endif %}
					</ul>
				</li>

			<li><a href="/joinEvents">Join Events</a><span class="icon"><i class="fas fa-calendar-alt"></i></span></li>

				{% if current_user.is_authenticated %}
						<li><a href="/theBusiness">Business</a><span class="icon"><i class="fas fa-map-marked-alt"></i></span></li>
				{% endif %}

				<li><a href="/about_us">About Us</a><span class="icon"><i class="fas fa-info-circle"></i></span></li>

                <li><a href="/listings">Listings</a><span class="icon"><i class="fas fa-list-ul"></i></span></li>

			</ul>

		</div>

	</nav>

</div>
<!-- /Menu -->
<div class="row d-flex justify-content-center page" style="position: center">
    <!--   LEFT-PANEL  -->
    <div class="col-3">
        <img class="rounded-circle  mx-auto d-block" src="../static/galleries/{{ name.image }}" alt="Company Logo" height="300" width="300">
        <hr width="100%">
        <div style="overflow: hidden;">
            <h2 class="company" style="text-align: center">{{  name.brandName  }}</h2><br>
        <!-- If current user is the owner, allowed to edit profile
            {% if current_user == owner %}
            <input type="submit" value="Edit Profile">
            {% else %}
            <span></span>
            {% endif %}
        -->
            <div class="d-flex justify-content-center">
                <a href="/profile/{{ current_user.brandName }}/update" id="edit" class="btn btn-primary">Edit Profile</a>
            </div>

            <!--   DETAILS   -->
            <hr width="100%" class="hr-text" data-content="Location">
            <h4 class="d-flex justify-content-between"><span><i class="fas fa-angle-right" style="font-size: 100%;"></i>{{  name.brandName  }}</span></h4>
            <p class="lighttext">{{  name.brandDesc  }}</p>
            <!--   LOCATION   -->
            <h4 class="d-flex justify-content-between"><span><i class="fas fa-map-marker-alt" style="font-size: 80%;"></i>&nbsp;{{  name.address  }}</span></h4>
            <!--   CONTACT US   -->
            <hr width="100%" class="hr-text" data-content="Contact Us">
            <h4>Hotline : {{  name.hotline  }}</h4>
            <h4>Email : {{  name.b_email  }}</h4>
                {% if name.website == "" %}
                <h4>(We have no website...)</h4>
                {% else %}
            <h4>Website : <span><a href="#">{{  name.website  }}</a></span>
            </h4>
                {% endif %}

            <!--   OPENING HOURS (OPTIONAL)   --->
            <hr width="100%" class="hr-text" data-content="OPENING HOURS">
            <h4 class="date">{{  name.operatingHours  }}</h4>
            <hr>
        </div>

    <!--   RIGHT-PANEL   -->
    </div>
    <div class="'col-10">
        <hr>
        <h2 style="text-align: center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Timeline & News&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
        <!--   FORM   -->
        {% import 'bootstrap/wtf.html' as wtf %}
        <form class="needs-validation" enctype="multipart/form-data" method="POST" action="" novalidate>
                <div style="padding-top: 25px;padding-bottom: 25px;" id="imageFile">
                    <input class="custom-file" type="file" name="photo" required>
                </div>
            {{ wtf.quick_form(form) }}
        </form>
        <!--   NEWS   -->
        <hr width="100%" class="hr-text" data-content="News">
        <br>
        {% for post in posts %}
       <table class="table table-hover">
        <tr>
            <td width="70px">
                <a href="/profile/{{ current_user.brandName }}">
                    <img width="50px" height="50px" src="{{ current_user.image_file }}">
                </a>
            </td>
            <td>
                <a href="{{ url_for('businessprof', name=post.author.brandName) }}">
                    {{ current_user.username }}
                </a>
                said {{ moment(post.timestamp).fromNow() }}:
                <br>
                {{ post.blog }}<br>
                {% if post.postImage != None %}
                <img width="400px" height="400px" src="../static/galleries/{{ post.postImage }}">
                {% else %}
                <h1></h1>
                {% endif %}

            </td>
        </tr>
    </table>
   {% endfor %}
</div>
    </div>
<script>
$('.nav-toggle').click(function(e) {

  e.preventDefault();
  $("html").toggleClass("openNav");
  $(".nav-toggle").toggleClass("active");

});

</script>
{% extends 'bootstrap/base.html' %}
{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>

</body>

</html>
