{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Login
{% endblock %}

{% block styles %}
{{super()}}
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/static/menu.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?    family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<!-- Menu -->
<div class="primary-nav">

	<button href="#" class="hamburger open-panel nav-toggle">
<span class="screen-reader-text">Menu</span>
</button>

	<nav role="navigation" class="menu">

		<a href="/" class="logotype">LÉ<span>PAK</span></a>

		<div class="overflow-container">

			<ul class="menu-dropdown">

				<li><a href="/">Map</a><span class="icon"><i class="fas fa-map-marked-alt"></i></span></li>

				<li class="menu-hasdropdown">
					<a href="/dashboard">Profile</a>
					<span class="icon">
						{% if current_user.is_authenticated %}
							<img src="{{ current_user.image_file }}" style="height: 100%; border-radius: 100%;"/>
						{% else %}
						    <i class="fas fa-user"></i>
						{% endif %}
					</span>

					<label title="toggle menu" for="settings">
        <span class="downarrow"><i class="fa fa-caret-down"></i></span>
      </label>
					<input type="checkbox" class="sub-menu-checkbox" id="settings" />

					<ul class="sub-menu-dropdown">
						{% if current_user.is_authenticated %}
							<li><a href="/index">Dashboard</a><span class="icon"><i class="fas fa-tachometer-alt"></i></span></li>
							<li><a href="">Friends</a><span class="icon"><i class="fas fa-user-friends"></i></span></li>
							<li><a href="/createEvents">Make Your Event</a><span class="icon"><i class="fas fa-calendar-alt"></i></span></li>
							<li><a href="/forms">Create Listings</a><span class="icon"><i class="fas fa-clipboard-list"></i></span></li>

						{% else %}
							<li><a href="/login">Login</a><span class="icon"><i class="fas fa-sign-in-alt"></i></span></li>
						{% endif %}
						{% if current_user.is_authenticated %}
                            <li><a href="{{ url_for('logout') }}">Logout</a><span class="icon"><i class="fas fa-sign-out-alt"></i></span></li>
                        {% endif %}
					</ul>
				</li>

				<li><a href="/joinEvents">Join Events</a><span class="icon"><i class="fas fa-calendar-alt"></i></span></li>

				{% if current_user.is_authenticated %}
						<li><a href="/theBusiness">Business</a><span class="icon"><i class="fas fa-map-marked-alt"></i></span></li>
				{% endif %}

				<li><a href="/about_us">About Us</a><span class="icon"><i class="fas fa-info-circle"></i></span></li>

				<li><a href="/listings">Listings</a><span class="icon"><i class="fas fa-list-ul"></i></span></li>

			</ul>

		</div>

	</nav>

</div>
<!-- /Menu -->

<div class="container">
<form class="form-signin" method="POST" action="/login">
<div class='login'>
  <h2>Login</h2>
    {{ form.hidden_tag() }}
        {{ wtf.form_field(form.username) }}
        {{ wtf.form_field(form.password) }}
        {{ wtf.form_field(form.remember) }}
  <div class='agree'>
      <button class='animated btn btn-lg btn-primary btn-block' type='submit' value='Register'>Login</button>
      <label style="display: block;margin-top: 1em;margin-left: 6.5em;"><a href="{{ url_for('signup') }}">Don't have an account?</a></label>
		<a href="/github" class="sc-buttons github-button">
			 <i class="fab fa-github-alt" aria-hidden="true"></i>
			 GitHub
		</a>

		<a href="/google" class="sc-buttons googleplus-button">
			 <i class="fab fa-google"></i>
			 Google
		</a>
	  <!--
	     <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      		<a href="/google" class="social_button google-plus"><span><i class="fab fa-google-plus-g"></i></span><p>Google +</p></a>
		 </div>
		 -->
  </div>
</div>
      </form>

    </div>

<script>
    $('.nav-toggle').click(function(e) {

  e.preventDefault();
  $("html").toggleClass("openNav");
  $(".nav-toggle").toggleClass("active");

});

</script>


{% endblock %}